<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Places</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<h5>Total: {{ .total }}</h5>
<ul>
  {{range .restaurants }}
    <li>
        <div>{{.Name}}</div>
        <div>{{.Address}}</div>
        <div>{{.Phone}}</div>
    </li>
  {{end}}
</ul>
{{if .prev}}
<a href="/?page={{.prev}}">Previous</a>
{{end}}
{{if .next}}
<a href="/?page={{.next}}">Next</a>
{{end}}
<a href="/?page={{.last}}">Last</a>
</body>
</html>
